body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    box-shadow: 0 0 10px 0 black;
    
}

input{
    border: 2px solid rgb(12, 107, 107);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#id_agencia, #id_usuario{
    position: absolute;
    background-color: brown;
}

.button{
    margin: 2em;
    padding: 1em;
    color: white;
    background-color: rgb(12, 107, 107);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
    border: 0;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}