{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="VUELA - FACIL" />
    <title>PERFIL DE VUELA - FACIL</title>
    <link type="text/css" rel="stylesheet" href='{% static "profile.css" %}' />
  </head>

  <body>
    <header class="header">
      <h1>VUELA-FACIL.COM</h1>
    </header>
    <main>
      <div>
        <img class="imagen-perfil" src="{% static 'Avianca.png'%}" alt="" />
      </div>

      <div>
        <h1 class="agencia">{{usuario.nombre | upper}}</h1>

        <form action="/accounts/usuario/{{usuario.id}}/edit/" method="POST">
          <ul class="detalle">
            
            {% csrf_token %}

            {% for usuarioData, field in usuario_formulario %}
              <li>
                <div class="detalle_label">
                  <h3>{{field.label}}</h3>
                  <i class="edit">edit</i>
                </div>
                <p class="input_formulario hidden">{{field}}</p>
                <button type="submit" class="btnSubmit hidden">Cambiar</button>
                <p class="data_agencia">{{usuarioData}}</p>
              </li>
            {% endfor %}

          </ul>
        </form>
        <a href="/accounts/delete/{{usuario.id}}">
          <button type="submit"> Delete Account </button>
        </a>
      </div>

    </main>

    <footer>
      <ul class="redesSociales">
        <li>
          <i class="icon facebook"></i>
          <a href="#">Facebook</a>
        </li>
        <li>
          <i class="icon instagram"></i>
          <a href="#">Instagram</a>
        </li>
        <li>
          <i class="icon twitter"></i>
          <a href="#">Twitter</a>
        </li>
        <li>
          <i class="icon youtube"></i>
          <a href="#">Youtube</a>
        </li>
      </ul>
      <p class="copyrigth">Vuela-facil.com - todos los derechos reservados</p>
    </footer>

    <script src="{% static 'profile.js' %}"></script>
  </body>
</html>