<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscador Rutas</title>
</head>
<body>
    <form class="form" action="/buscadorRutas/Buscador/" method="POST">
        {% csrf_token %}
        {% for field in buscador %}
            {{ field.label }}
            {{ field}}
            <br>
        {% endfor %}
        <input class="button" type="submit" value="Buscar">
    </form>
</body>
</html>