<html>
<head>
    <title>Registro de usuario</title>
</head>
<body>
    
    <form action="/registro_usuario/" method="POST">{% csrf_token %}
        <p>Nombre de agencia: <input type='text' name="nombre de agencia"></p>
        <p>Correo electrónico: <input type='text' name="correo electrónico"></p>
        <p>Contraseña: <input type='text' name="contraseña"></p>
        <p>Confirmación de contraseña: <input type='text' name="confirmación de contraseña"></p>
        <input type="submit" value="Registrarse">
    </form>
</body>
</html>