{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/registrar.css' %}">
</head>
<body>
    <form class="form" action="/accounts/register/" method="POST">
        {% csrf_token %}
        {% for field in formulario %}
            {{ field.label }}
            {{ field}}
            <br>
        {% endfor %}
        <input class="button" type="submit" value="Registrarse">
    </form>
</body>
</html>